@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body {
  margin: 0;
  font-family: 'Zen Loop', sans-serif;

  display: grid;
  min-height: 100vh;
  place-items: center;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 1em 0;
  font-size: 2rem;
}

.app {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(231, 227, 227);
  padding: 2em;
  display: flex;
  flex-direction: row;
}

.list-container {
  -webkit-box-shadow: 15px 8px 15px -5px rgba(0, 0, 0, 0.4); 
  box-shadow: 15px 8px 15px -5px rgba(0, 0, 0, 0.4);
}

.checkbox-item {
  margin-left: 0.75em;
  font-size: 1.5rem;
}

input[type=checkbox]:focus {
  outline: 0;
}


